button{
  background-color: #FFFFFF;
  border: 5px solid #FFE51F;
  border-radius: 0% 10% 10% 0%;
}

button:hover{
  color: #FFE51F;
  border: 5px solid #FFE51F;
}

input{
  border: 5px solid #FFE51F;
  border-radius: 10% 0% 0% 10%;
  width: 25%;
}
